{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ board_id }}{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('post.create', board_id=board_id) }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">{{ post['username'] }} - {{ post['created'].strftime('%m/%d/%Y %H:%M:%S') }}</div>
                </div>
                <a class="action" href="{{ url_for('post.view', id=post['id'], board_id=board_id) }}">View</a>
                {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('post.update', id=post['id'], board_id=board_id) }}">Edit</a>
                {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}