<!doctype html>
<title>{% block title %}{% endblock %}Forum</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Forum</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<div class="boxcontent">
    <div class="column">
        <ul>
            <li><a href="{{ url_for('board.board', id='m') }}">Main</a></li>
            <li><a href="{{ url_for('board.board', id='faq') }}">FAQ</a></li>
            <li><a href="{{ url_for('board.board', id='ann') }}">Announcements</a></li>
            <li><a href="{{ url_for('board.board', id='f') }}">Funny</a></li>
            <li><a href="{{ url_for('board.board', id='g') }}">Gaming</a></li>
            <li><a href="{{ url_for('board.board', id='pol') }}">Politics</a></li>
            <li><a href="{{ url_for('board.board', id='n') }}">News</a></li>
            <li><a href="{{ url_for('board.board', id='tv') }}">TV & Movies</a></li>
            <li><a href="{{ url_for('board.board', id='mu') }}">Music</a></li>
            <li><a href="{{ url_for('board.board', id='sci') }}">Science</a></li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li><a href="{{ url_for('board.board', id='his') }}">History</a></li>
            <li><a href="{{ url_for('board.board', id='lit') }}">Literature</a></li>
            <li><a href="{{ url_for('board.board', id='p') }}">Philosophy</a></li>
            <li><a href="{{ url_for('board.board', id='t') }}">Technology</a></li>
            <li><a href="{{ url_for('board.board', id='sp') }}">Sports</a></li>
            <li><a href="{{ url_for('board.board', id='bus') }}">Business</a></li>
            <li><a href="{{ url_for('board.board', id='art') }}">Art</a></li>
            <li><a href="{{ url_for('board.board', id='pic') }}">Pics</a></li>
            <li><a href="{{ url_for('board.board', id='ho') }}">Hobbies</a></li>
            <li><a href="{{ url_for('board.board', id='tr') }}">Travel</a></li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li><a href="{{ url_for('board.board', id='adv') }}">Advice</a></li>
            <li><a href="{{ url_for('board.board', id='a') }}">Anime & Manga</a></li>
            <li><a href="{{ url_for('board.board', id='fo') }}">Food</a></li>
            <li><a href="{{ url_for('board.board', id='par') }}">Paranormal</a></li>
            <li><a href="{{ url_for('board.board', id='fit') }}">Fitness</a></li>
            <li><a href="{{ url_for('board.board', id='r') }}">Random</a></li>
            <li><a href="{{ url_for('board.board', id='fa') }}">Fashion</a></li>
            <li><a href="{{ url_for('board.board', id='out') }}">Outdoors</a></li>
        </ul>
    </div>
</div>