{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ board_id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div>
                <h1>{{ post['title'] }}</h1>
                <div class="about">{{ post['username'] }} - {{ post['created'].strftime('%m/%d/%Y %H:%M:%S') }}</div>
            </div>
            {% if g.user['id'] == post['author_id'] %}
                <a class="action" href="{{ url_for('post.update', id=post['id'], board_id=board_id) }}">Edit</a>
            {% endif %}
        </header>
        <p class="body">{{ post['body'] }}</p>
        {% if g.user %}
        <div class="new-comment">
            <form method="post">
                <label for="body">Add a Comment</label>
                <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
                <input type="submit" value="Post">
            </form>
        </div>
        {% endif %}
        {% for comment in comments %}
        <div class="comment">
            <header>
                <div class="about">{{ comment['username'] }} - {{ comment['created'].strftime('%m/%d/%Y %H:%M:%S') }}</div>
            </header>
            <p class="body">{{ comment['body'] }}</p>
        </div>
        {% endfor %}
    </article>
{% endblock %}